/* color: #a67db8; 
   #80ffdb
*/
@import url("https://fonts.googleapis.com/css2?family=Raleway&family=Titillium+Web&display=swap");
/******************Animation ******************/
@keyframes slidein {
  from {
    margin-left: 100%;
    width: 300%;
  }

  to {
    margin-left: 0%;
    width: 100%;
  }
}
/**
** Logo caroussel
*/
@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(calc(-250px * 8));
  }
}
.slider {
  background: white;
  box-shadow: 0 10px 20px -5px rgba(0, 0, 0, 0.089);
  height: 100px;
  margin: auto;
  overflow: hidden;
  position: relative;
  width: 960px;
}
.slider::before,
.slider::after {
  background: linear-gradient(to right, white 0%, rgba(255, 255, 255, 0) 100%);
  content: "";
  height: 100px;
  position: absolute;
  width: 200px;
  z-index: 2;
}
.slider::after {
  right: 0;
  top: 0;
  transform: rotateZ(180deg);
}
.slider::before {
  left: 0;
  top: 0;
}
.slider .slide-track {
  animation: scroll 40s linear infinite;
  display: flex;
  width: calc(250px * 14);
}
.slider .slide {
  height: 100px;
  width: 250px;
}

/***************** Global ************************/
body {
  color: #666;
  overflow-x: hidden;
}
h1 {
  font-family: "Titillium Web", sans-serif;
  font-size: 30px;
  font-style: inherit;
  font-weight: 300;
}
h2 {
  font-size: 35px;
  text-align: center;
  color: #8924b4;
  margin-bottom: 20px;
}
h2,
.bouton,
.bouton2 {
  font-family: "Raleway", "Helvetica", "Tahoma", "Geneva", "Arial", sans-serif;
  letter-spacing: 1px;
  text-transform: capitalize;
  font-weight: 100;
}
/**************** Classes / id ******************/
#logo {
  width: 150px;
}
.bouton {
  border: solid white 2px;
  padding: 5px 20px;
  border-radius: 20px;
  transition: all 0.5s ease;
}
.bouton:hover {
  background-color: #8924b4;
  border: 2px solid #8924b4;
}
.bouton2 {
  padding: 5px 20px;
  border-radius: 20px;
  margin: 0 auto;
  border: 2px solid #8924b4;
  color: #8924b4 !important;
  transition: all 0.5s ease;
}
.bouton2:hover {
  background-color: #8924b4;
  color: #fff !important;
}

.gradient-background {
  background: linear-gradient(#80ffdbe0, #a67db8f3);
  background-size: cover;
  background-position: center;
}
/****************** Preheader ********************/
.preheader ul {
  display: flex;
  justify-content: flex-end;
  margin: 0;
}
.preheader ul li {
  margin-left: 20px;
  font-size: 18px;
}
.preheader ul li a {
  color: #8924b4;
  transition: all 0.5s ease;
}
.preheader ul li a:hover {
  color: #fff;
}
/****************** Header ***********************/
header {
  background: linear-gradient(#80ffdbe0, #a67db8f3), url(../img/ordinateur.jpg);
  background-size: cover;
  background-position: center;
  color: white;
  text-align: center;
  padding-bottom: 80px;
}
.navbar {
  align-items: center;
  display: flex;
  justify-content: space-between;
}
#mainNav {
    position: absolute;
    background-color: rgba(0, 0, 0, 0.418);
    width: 100%;
    top: 90px;
    padding-bottom: 10px;
    display: none;
}
#mainNav ul{
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-flow: column nowrap;
  margin-left: 90px;
}
.navbar ul li {
  margin-left: 20px;
}
.navbar ul a:hover {
  color: #8924b4;
}
#logo {
  align-self: start;
  margin-right: auto;
}
#menuToggle{
  background-color: transparent;
  border:none;
  color: #8924b4;
  align-self: start;
  margin-left: auto;
}
header h1 span {
  font-size: 40px;
}
header h1 {
  margin: 150px 0 80px 0;
  animation-duration: 3s;
  animation-name: slidein;
  /* animation-iteration-count: 5s; */
}
/*************** A propos ********************/
#about {
  align-items: center;
}
#about p {
  margin-bottom: 20px;
}
#about img {
  width: 220px;
}
/************  Mes compétences  ***************/
.skills-row {
  justify-content: space-around;
}
.card {
  border: 2px solid #a67db8a1;
  border-radius: 5px;
}
.card hr {
  background-color: #b212f7;
  height: 2px;
}
#skills img:hover {
  /*transform: scale(1.1);*/
  transform: scaleX(-1);
}
#ecosysteme img {
  width: 80px;
}
/**************** Formulaire ******************/

input[type="text"],
input[type="email"],
textarea {
  width: 100%;
  padding: 8px 10px;
  border-radius: 10px;
  border: solid 1px #fff;
  background-color: #ffffff50;
}
label {
  display: flex;
  margin-bottom: 0.5rem;
  margin-left: 5px;
  margin-top: 10px;
}
input[type="submit"] {
  color: white;
  background-color: transparent;
}
/*****************************
*   Galerie Mes Creations    *
******************************/
#realisations h2 {
  margin-bottom: 40px;
}
#realisations li {
  margin-bottom: 30px;
}
.myImg {
  border-radius: 5px;
  cursor: pointer;
  transition: 0.3s;
  margin-bottom: 20px;
}
.myImg:hover {
  opacity: 0.8;
  transform: scale(1.009);
}
#galleryContainer {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.9);
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 0;
  visibility: hidden;
  opacity: 0;
  transition: opacity 1s, visibility 1s;
}
#galleryContainer img {
  border: solid 5px var(--white);
  max-width: 80%;
  height: auto;
}
#galleryContainer.visible {
  opacity: 1;
  visibility: visible;
}

#realisations span {
  background-color: #a67db8;
  padding: 5px 10px;
  border-radius: 5px;
  color: white;
  font-size: 14px;
  font-weight: bold;
  margin-top: 10px;
  display: inline-block;
}

#realisations a {
  text-decoration: underline;
  color: #8924b4;
}
@keyframes zoom {
  from {
    transform: scale(0.1);
  }
  to {
    transform: scale(1);
  }
}
@media screen and (min-width: 768px) {
  #menuToggle{
    display: none;
  }

  #mainNav{
    position: static;
    background: transparent;
    display: flex !important;
    padding: 0;
    justify-content: flex-end;
}
  #mainNav ul{
    flex-flow: row nowrap;
    margin-left: 0px;
}
  #mainNav a{
    font-size: 1.2em;
} 
}
